header {
    color: $highlight;
    background-color: $background_light;
    border-bottom: 1px solid $highlight;
    line-height: $bar_height;
    font-weight: bold;
    font-size: 120%;
    text-align: center;
}