#logincontainer {
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    #loginform {
        margin: 0;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
        width: 400px;
        input, select, textarea {
            font-family: 'Montserrat', sans-serif;
            letter-spacing: -0.2px;
            font-size: $ruler;
        }
        #loginbutton, #registerbutton, #fbbutton, #googlebutton {
            font-family: 'Montserrat', sans-serif;
            letter-spacing: -0.2px;
            font-size: $ruler;
        }
        div {
            color: $color_shadow;
            text-shadow: 1px 1px 1px $color_white;
        }
        .segment {
            padding: $ruler*2 0;
            text-align: center;
        }
        #loginbutton, #registerbutton, #fbbutton, #googlebutton, input {
            border: 0;
            outline: 0;
            font-size: $ruler;
            border-radius: $ruler*20;
            padding: $ruler;
            background-color:$color_bg;
            text-shadow: 1px 1px 0 $color_white;
        }
        label {
            display: block;
            margin-bottom: $ruler*1.5;
            width: 100%;
        }
        input {
            margin-right: $ruler/2;
            box-shadow:  inset 2px 2px 5px $color_shadow, inset -5px -5px 10px $color_white;
            width: 100%;
            box-sizing: border-box;
            transition: all 0.2s ease-in-out;
            appearance: none;
            -webkit-appearance: none;
            &:focus {
                box-shadow:  inset 1px 1px 2px $color_shadow, inset -1px -1px 2px $color_white;
            }
        }
        #loginbutton, #registerbutton, #fbbutton, #googlebutton {
            color:#61677C;
            font-weight: bold;
            transition: all 0.2s ease-in-out;
            cursor: pointer;
            font-weight: 600;
            .icon {
                margin-right: $ruler/2;
            }
            &.unit {
                border-radius: $ruler/2;
                line-height: 0;
                width: $ruler*3;
                height: $ruler*3;
                display:inline-flex;
                justify-content: center;
                align-items:center;
                margin: 0 $ruler/2;
                font-size: $ruler*1.2;
                    .icon {
                    margin-right: 0;
                }
            }
            &.red {
                display: block;
                width: 100%;
                color: $color_red;
            }
        }
    }
}