body {
    margin: 0;
    padding: 0;
    background-color: $background;
    display: grid;
    grid-gap: 0;
    grid-template-columns: $article_width $article_width $side_width;
    grid-template-rows: $bar_height calc(100vh - (#{$bar_height} * 2)) $bar_height;
    grid-template-areas: "header         header         header"
                         "logincontainer logincontainer logincontainer"
                         "footer         footer         footer";
    /*
    grid-template-rows: $bar_height $section_height calc(100vh - (#{$bar_height} * 2)) $bar_height;
    grid-template-areas: "header header header"
                         "article article aside"
                         "footer footer footer";
    */
    header {
        grid-area: header;
    }
    #logincontainer {
        grid-area: logincontainer;
        overflow: auto;
    }
    #appointmentsview {
        grid-area: logincontainer;
    }
    footer {
        grid-area: footer;
    }
    body.swal2-shown > [aria-hidden="true"] {
        filter: blur(10px);
    }
    body > * {
        transition: 0.1s filter linear;
    }
    [class^=swal2] {
        .btn-danger {
            background-color: red;
        }
    }
}