#searchparent {
    width: auto;
    background: $section_bg;
    overflow: hidden;
    .search {
        width: 100%;
        height: 100%;
        padding: 6px;
        margin: 1px;
        font-size: 21px;
        border: 1px solid black;
    }
}